/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  padding: 0;
  text-rendering: optimizeLegibility;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  margin: 0;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #222; }
a:hover   { color: #222; }
a:visited { color: #333; }

/*****************************************************************************/
/*
/* General
/*
/*****************************************************************************/
.todo {
  display: inline-block;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  background-color: hsla(41, 89%, 46%, 0.3);
  color: #333;
  font-style: italic;
}

.todo:before {
  content: 'TODO: ';
}

.note {
  display: inline-block;
  padding: 0.5em 0.5em;
  border-radius: 0.2em;
  background-color: hsla(207, 100%, 54%, 0.3);
  color: #333;
}

.note:before {
  content: 'NOTE: ';
  font-weight: bold;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

.items {
  list-style-position: inside;
  margin-bottom: 2em;
}

.items li {
  line-height: 1.75em;
}

ul.items li {
  list-style-type: disc;
}

ol ul li {
  margin-left: 1em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.twitter-follow-button {
  position: absolute;
  left: -80px;
}

a.twitter-follow-button {
  display: none;
}

.main {
  margin-bottom: 5em;
}

/*
  Masthead
*/
.masthead {
  margin-top: 1em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #0eb9e7;
}

.masthead .title img {
  width: 100%;
}

.masthead .nav a {
  display: inline-block;
  margin-left: 1em;
  margin-top: 0.75em;

  vertical-align: middle;
  text-decoration: none;

  color: #5a5a5b;
  font-size: 2em;
}

.masthead .nav a:hover {
  text-decoration: underline;
}

/* Hero
   Shown on homepage only
*/
.hero {
  display: none;

  padding: 0 0 0.5em 0;
  color: #5a5a5b;
  font-size: 4em;
  line-height: 1;
  text-align: left;
}

#home .hero {
  display: block;
}

/*
  info update form
*/
.info-update-form {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #CCC;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

.post img {
  width: 100%;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
